{% extends 'base.html' %}

{% block head_signup %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
{% endblock %}


{% block sign_up %}
  <body>

    <div class="container">

      <h2> Tout commence par un engagement !<br>
        <span>Inscrivez-Vous  </span> </h2>
      <form method="post" novalidate>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">S'inscrire</button>
          <div class="textmdp">
          <span>* </span> 
          <p>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</p>
          <p>Votre mot de passe doit contenir au minimum 8 caractères. </p>
          <p>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</p>
          <p>Votre mot de passe ne peut pas être entièrement numérique.<p>
          </div>
        </form>
        
    <div>

  </body>
  {% endblock sign_up %}